@import url("https://fonts.googleapis.com/css2?family=Sofia+Sans:ital,wght@0,1..1000;1,1..1000&display=swap");

.sofia-sans-body {
  font-family: "Sofia Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400px;
  font-style: normal;
}
/* - all body - */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* ------------- Navbar section style ------------- */

/* --- Navbar container style --- */

.main_nav_container {
  max-width: 1520px;
  margin: 0 auto;
  display: flex;
  background: rgb(30, 13, 53);
  justify-content: space-around;
}

/* --- nav-ber list items --- */
.nav_img {
  margin-top: 30px;
  margin-bottom: 30px;
  height: 30px;
  max-width: 200px;
  border: 1px solid rgb(37, 16, 65);
}
.Main_list {
  display: flex;
  align-items: center;
  gap: 40px;
}
.Main_list li {
  list-style-type: none;
}
.Main_list li a {
  text-decoration: none;
  color: #ffffff;
  font-size: 1.2rem;
  font-weight: 500;
}
/* --- hover li --- */
.Main_list li a:hover {
  color: blue;
  transition: all 0.3s linear;
}
/* --- button style --- */
.primary_btn {
  color: #ffffff;
  background: linear-gradient(
    45deg,
    rgba(247, 233, 63, 1),
    rgba(251, 9, 180, 1),
    rgba(145, 0, 248, 1)
  );
  padding: 13px 16px 13px 16px;
  border-radius: 10px;
  height: 45px;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  font-weight: 600px;
  margin: 24px 0 24px 0;
}
.primary_btn a {
  color: #ffffff;
  text-decoration: none;
  text-shadow: 1px 1px 3px white;
}
/* --- button hover --- */
.primary_btn:hover {
  transition: all 0.4s ease-in-out;
  transform: scale(1.1);
}
/* --- Hero-banner style --- */
.hero_banner {
  background-image: url(assets/hero-bg.png);
  background-position: center;
  max-width: 1520px;
  height: 720px;
  margin: 0 auto;
}
/* ------------ Hero-body style ------------ */

.Hero_head {
  padding-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}
.middle_hero {
  position: relative;
}
/* mic position  */

.micro {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: micro_rotate 1s linear infinite;
}

@keyframes micro_rotate {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }

  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

.Hero_body {
  margin: 10px 0 10px;
}
.Hero_img {
  max-height: 350px;
  max-width: 350px;
}
.Hero_body h1,
p {
  color: #ffffff;
}
.Hero_body h1 {
  font-weight: 800;
  font-size: 3.75rem;
  text-shadow: 2px 2px 20px;
  text-align: center;
  margin-bottom: 12px;
}
.Hero_body p {
  font-weight: 400;
  font-size: 1rem;
  line-height: 15px;
  color: #ffffff7a;
}
/* --- Hero button --- */
.Hero_btn1 a {
  text-decoration: none;
  color: #ffffff;
  font-weight: 700;
  font-size: 1rem;
  text-transform: capitalize;
}
.Hero_btn1 {
  background: linear-gradient(
    45deg,
    rgba(247, 233, 63, 1),
    rgba(251, 9, 180, 1),
    rgba(145, 0, 248, 1)
  );
  padding: 12px 24px;
  border-radius: 15px;
  border: qpx solid wheat;
}
/* --- button 1 hover --- */
.Hero_btn1:hover,
a:hover {
  color: black;
  transform: scale(1.1);
  transition: all 0.4s ease-out;
}
.Hero_btn2 a {
  text-decoration: none;
  text-transform: capitalize;
  font-weight: 700;
  font-size: 1rem;
  color: rgb(56, 185, 56);
}
.Hero_btn2 {
  font-size: 1rem;
  font-weight: 600;
  padding: 12px 20px;
  border-radius: 15px;
  border: 2px solid rgb(51, 182, 51);
  background-color: transparent;
}
/* button --- 2 --- hover  */
.Hero_btn2:hover {
  color: black;
  transform: scale(1.1);
  transition: all 0.4s ease;
}
.display_flex {
  margin-top: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

/* ------- challenge part ------ */

.challange {
  padding: 8px 16px;
  border-radius: 25px;
  font-size: 18px;
  font-weight: 600;
  color: #1a0b2e;
  background-color: #00ff88;
  position: absolute;
  top: 25px;
  right: 25px;
  border: none;
  cursor: pointer;
}
.challange:hover {
  transform: scale(1.1);
  transition: all 0.3s linear;
}
/* -------- pod_cast section ------- */

.pod_cast {
  max-width: 1520px;
  margin: 0 auto;
  background-color: rgb(30, 13, 53);
}
.pod {
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 60px;
  line-height: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 60px 10px 0 10px;
}
.pod_cast h1 {
  font-size: 3rem;
  font-weight: 800;
  font-style: bold;
  color: white;
  text-shadow: 1px 1px 3px white;
  text-align: center;
  margin-bottom: 30px;
}
.pod_head p {
  color: #ffffff69;
  text-align: center;
}
.line {
  border-bottom: 2px solid wheat;
  height: 0;
  max-width: 1200px;
}

/* line  */
.line {
  width: 80%;
  height: 1%;
  margin: 20px auto;
}
/* ---- card style ----  */
.card_container {
  display: flex;
  flex-wrap: wrap;
  gap: 80px;
  margin: 60px 0 100px 0;
}
.card {
  max-width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgb(34, 16, 58);
  padding: 10px;
  border-radius: 15px;
}
.card h3 {
  color: #00ff88;
  font-size: 3rem;
  font-weight: 900;
  margin-bottom: 10px;
}
.card p {
  color: rgba(255, 255, 255, 0.507);
}
.hamburger_logo {
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}

/* ------------ section 2 ------------ */

.Tech_wave {
  max-width: 1520px;
  margin: 0 auto;
  background-color: rgb(39, 14, 72);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.Tech_wave .Tech_head h1 {
  color: #ffffff;
  font-size: 3rem;
  font-style: bold;
  font-weight: 700;
  margin: 120px 0 40px 0;
}
/* card_style for TechWave  */
.Tech_body .Tech_card {
  /* max-width: 380px; */
  background-color: rgb(53, 17, 101);
  padding: 40px;
  border-radius: 30px;

  /* text-align: center; if you want to place center */
}
.Tech_card h1 {
  color: #ffffff;
  font-size: 1.6rem;
  font-weight: 700;
  font-style: bold;
  margin: 16px 0 16px 0;
}
.Tech_card p {
  font-size: 1rem;
  font-weight: 400;
  color: #ffffff7e;
}
.Tech_card:hover {
  background-color: rgba(38, 38, 144, 0.77);
  transition: all 0.4s ease;
  /* box-shadow: 0 8px 25px rgba(88, 28, 135, 0.35); */
  box-shadow: 0 10px 30px rgba(76, 29, 149, 0.4);
}
.Tech_body {
  max-width: 1200px;
  margin: 10px auto;
  display: grid;
  gap: 30px;
  justify-content: center;

  grid-template-columns: repeat(3, 1fr);
  margin-bottom: 120px;
}

/* LEFT BIG CARD */
.lay_1 {
  grid-column: span 1;
  grid-row: span 2;
}

/* RIGHT SIDE CARDS */
.lay_2 {
  grid-column: span 2;
}

.lay_3 {
  grid-column: span 2;
}

.lay_4 {
  grid-column: span 2;
}

.lay_5 {
  grid-column: span 1;
}

/* ---------- section-3 ------------   */

.Featured {
  max-width: 1520px;
  margin: 0 auto;
  background-color: #1a0b2e;
}
.fretured_card {
  margin-top: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.container {
  text-align: center;
}
.Featured_1 {
  color: #ffffff;
  padding-top: 50px;
}

.fretured_card ._f_card {
  max-width: 340px;
  max-height: 500px;
  margin: 10px;
  background-color: #2f164e;
  text-align: center;
  border-radius: 24px;
  padding: 10px;
}
.card_image {
  height: 250px;
  background-color: #111212;
  margin-bottom: 10px;
  background-size: cover;
  border-radius: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card_image a {
  font-size: 20px;
  color: #ffffff;
  background: linear-gradient(
    45deg,
    rgba(247, 233, 63, 1),
    rgba(251, 9, 180, 1),
    rgba(145, 0, 248, 1)
  );
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  text-decoration: none;
}
.car1 {
  background-image: url(assets/image1.png);
}
.car2 {
  background-image: url(assets/image2.png);
}
.car3 {
  background-image: url(assets/image3.png);
}
._f_card h1 {
  font-size: 1.8rem;
  font-weight: 700;
  margin-bottom: 10px;
  color: #ffffff;
}
._f_card p {
  font-size: 1rem;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
  padding: 12px;
}

.green {
  color: #00ff88;
  text-align: left;
}

/* card hover  */
._f_card:hover {
  background-color: #1a0b2e;
  box-shadow: 0 8px 25px rgba(88, 28, 135, 0.35);
  transition: all 0.4s linear;
}

/* ---------- section-4 ---------- */

.The_host {
  max-width: 1520px;
  margin: 0 auto;
  padding: 100px;
  text-align: left;
  display: flex;
  line-height: 20px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #1a0b2e;
}
.The_host h2 {
  margin-bottom: 20px;
  color: #ffffff;
}
.The_host p {
  color: #ffffff96;
  font-size: 1rem;
  font-weight: 400;
  font-style: normal;
}
.The_host h1 {
  font-size: 3rem;
  color: #ffffff;
  font-weight: 700;
  font-style: bold;
}
.host_container {
  background-color: rgba(83, 60, 114, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  max-width: 1200px;
  /* padding-top: 100px; */
  margin-top: 50px;
  padding: 40px;
  border-radius: 40px;
}

.link {
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 10px;
}
.linkedin {
  margin-top: 20px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  padding: 8px;
  text-align: center;
  border: 2px solid rgb(155, 12, 155);
}
/* hover for host  */
.host_container img:hover {
  transform: scale(1.1);
  transition: all 0.4s ease;
}
.linkedin:hover {
  transform: scale(1.1);
  transition: all 0.3s ease;
  background-color: rgb(24, 24, 24);
}
.host_container:hover {
  background-color: rgb(65, 40, 98);
  transition: all 0.3s ease;
}

/* --------- footer section ---------  */

.footer_img {
  background-image: url(assets/footer-bg.png);
  background-position: center;
  max-width: 1520px;
  margin: 0 auto;
  height: 50%px;
}
.link_font {
  font-size: 1rem;
  font-weight: 500;
  font-style: medium;
  color: #ffffff88;
}
.foot_link {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
.foot_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 100px;
}
.foot_container img {
  width: 300px;
}
.foot_link {
  padding-top: 32px;
}
.foot_link p:hover {
  transform: scale(1.2);
  transition: all 0.3s ease;
  cursor: pointer;
  color: #00ff88;
}
.foot_war {
  padding: 30px;
}

/* ------------- Media section- mobile responsive  --------------- */

@media screen and (max-width: 576px) {
  .hamburger_logo {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .primary_btn,
  .Main_list {
    display: none;
  }
  .card_container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .Hero_body p {
    text-align: center;
  }
  .display_flex {
    display: flex;
    flex-direction: column;
  }
  .Tech_body {
    display: flex;
    flex-direction: column;
    margin: 20px;

    /* display: grid;
    grid-template-columns: repeat(1,1fr); */
    /* ----- if you want use grid ,yes you can be use it easily ------ */
  }
  .Tech_head h1 {
    text-align: center;
  }
  .pod_head h1 {
    text-align: center;
    line-height: 15px;
  }
  .fretured_card {
    display: flex;
    flex-direction: column;
  }
  .host_container {
    display: flex;
    flex-direction: column;
  }
  .The_host h1 {
    text-align: center;
    line-height: 50px;
  }
  .pod_head h1 {
    line-height: 50px;
  }
  .pod_head {
    padding: 0 10px 0 10px;
  }
  .foot_war {
    text-align: center;
  }
  .foot_link {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .foot_war {
    padding-bottom: 30px;
    text-align: center;
  }
}
/* ------------ for tablet / like medium device --------------- */

@media screen and (min-width: 577px) and (max-width: 900px) {
  .Tech_body {
    display: grid;
    grid-template-columns: repeat(2, 300px);
  }
  .card_container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .fretured_card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
